html {
  scroll-behavior: smooth;
}

img {
  display: block;
  margin: 0px auto;
}
p {
  margin-bottom: 8px !important;
}
.lead {
  text-indent: 10px;
}
.card-title {
  height: 100px;
}

footer {
  margin-top: 70px;
  padding: 0 20px;
}
footer p {
  font-size: 11px;
  line-height: 14px;
  float: left;
}
footer #sns {
  float: right;
  display: flex;
}
footer #sns img {
  padding: 0 5px;
}

svg {
  margin: 12px 12px 0 12px;
}
footer {
  height: 60px;
  background-color: #e9eaed;
  padding: 0 0 0 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

main {
  height: 100%;
  padding-bottom: 60px;
}
